<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/index.html</location>
    </error-page>
    <servlet>
        <servlet-name>filterTest</servlet-name>
        <servlet-class>com.servlet.FilterTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.servlet.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filterTest</servlet-name>
        <url-pattern>/filterTest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>page1</servlet-name>
        <jsp-file>/page1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>page1</servlet-name>
        <url-pattern>/testingpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
